node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

dist
coverage
*.tsbuildinfo

.git
.gitignore
.gitattributes

.vscode
.idea
*.swp
*.swo

*.test.ts
*.spec.ts
__tests__
e2e
jest.config.*
vitest.config.*

documentation
*.md
!README.md

.github
.husky
.simple-git-hooks.json

.env
.env.local
.env.*.local

.DS_Store
Thumbs.db
*.log
