NODE_ENV=

APP_PORT=
APP_REQUEST_TIMEOUT=
APP_NAME=
APP_DESCRIPTION=
APP_LOG_LEVEL=

POSTGRES_URL=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

KAFKA_NODE_ID=
KAFKA_PORT=
KAFKA_CONTROLLER_PORT=
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=
KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=
KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=
KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS=
KAFKA_NUM_PARTITIONS=

KAFKA_UI_PORT=
KAFKA_CLUSTERS_0_NAME=

REDIS_URL=
REDIS_PORT=
REDIS_HOST=
REDIS_DATABASES=
REDIS_PASSWORD=

RI_PORT=
RI_DISABLE_ENCRYPTION=

JWT_SECRET=
JWT_EXPIRES_IN=

THROTTLE_TTL=
THROTTLE_LIMIT=

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=
